form {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    height: 40vh;
    width: 40vh;
}

.form-center {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}